body {
    zoom: 1.1;
}
.content {
    margin: 5% auto;
    background: #fff;
    width: 420px;
    text-align: center;
    padding: 40px 10px;
    border-radius: 3px;
    font-size: 30px;
    font-family: Helvetica;
}
input {
    font-size: 25px;
    display: block;
    margin-top: 10px;
}
input[type=submit], button {
    border-radius: 3px;
    text-transform: uppercase;
    padding: 14px 20px;
    font-size: 12px;
    letter-spacing: 1px;
    background-color: #eb5422;
    border: 0;
    font-weight: bold;
    color: #fff;
    margin-bottom: 50px;
}

.item {
    padding-top: 10px;
    padding-bottom: 10px;
}

#to {
    font-weight: bold;
}

.bio-name {
    font-weight: 800;
}

form p {
    font-size: 25px;
}

.error {
    color: red;
}